.post {
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 100ms ease-in-out;
}

.post:hover {
    transform: scale(1.02);
}

.post img {
    max-width: 100%;
    padding: 5px;
    border-radius: 12px;
}

.post-content {
    padding: 30px;
}
